@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  /* Hide every element on the page */
  body * {
    visibility: hidden;
  }
  /* Show only the receipt and its children */
  .print-receipt-container,
  .print-receipt-container * {
    visibility: visible;
  }
  /* Position the receipt at the top left of the page */
  .print-receipt-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 80mm !important;
    padding: 0;
    margin: 0;
    background: white;
    -webkit-font-smoothing: none;
    text-rendering: optimizeSpeed;
  }
  
  /* Remove page margins and header/footer for clean receipt print */
  @page {
    size: auto;
    margin: 0mm;
  }
}
